/reference
/zip
/project_3/reference
/project_4/reference
/project_5/reference
/project_6/reference
/project_7/reference
/project_8/reference
/project_9/reference
/project_10/reference
/project_11/reference
*.exe
*.zip
*.rar
*.7z
/.venv
__pycache__/
*.pyc
